<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RuloStokKarti.Properties.Settings.RULOSACConnectionString"
            connectionString="Data Source=SQLSERVER;Initial Catalog=RULOSAC;Persist Security Info=True;User ID=sa;Password=Sa2010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>